body {
    background-color: white;
    font-family: Arial;
    margin-bottom: 0px;
}
div.titre {
    text-align: center;
    color: aliceblue;
    background-color: rgb(1, 10, 17);
    padding: 30px 30px;
}
img.info {
    display: block;
    object-fit: cover;
    height: 80px;
    margin: auto;
    overflow: auto;
    position:relative;
    height: auto;

}

div.info {
    text-align: center;
    margin-block-end: 20px;
}
div.photos{
    height: 100px;
}

h2  {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}
img.groupe {
    height: auto;
    margin: 1px;
    width: 100%;
}

table.photos {
    margin-left: 20px;
    position: relative;
    width: 100%;
    margin-right: 20px;
}

p {
    margin-left: 30px;
    margin-top: 0;
    margin-bottom: 0;
}

div.separateur {
    background-color: red ;
    height: 2px;
    width: 300px;
    left: 50%;
    position: relative;
    margin-left: -150px;
    margin-top: 50px;
}

.contact:hover{
    color: white;
}

* {
    overflow: auto;
}
